
{% extends "partials/base.html" %}

{% block header %}
 {% include "partials/header.html" %}
 {% endblock header %}
 
 {% block news_section %}
 {% include "partials/news_section.html" %}
 {% endblock news_section %}
 
 {% block content %}
 <form method="post"> <!-- -->
 {% csrf_token %}
 {{ form }}
 <button type="submit" class="btn btn-info">Login</button><!--  button type=submit grnu prcha which is originally button-->
 </form>
 {% endblock content %}
 
 {% block footer %}
 {% include "partials/footer.html" %}
 {% endblock footer %}

 {% block script %} 
 {% include "partials/script.html" %}
 {% endblock script %}